<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cg.geometry" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Geometry</name>
    <description>
        Workshop geometry calculations
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        Chris Gill
    </author>
    <content src="index.html" />
    <access origin="*" />
	<preference name="Orientation" value="landscape" />
	<preference name="Fullscreen" value="true" />
	<platform name="android">
		<icon density="xhdpi" src="resources/android/icon/icon-96.png" />
	</platform>
</widget>
